[Unit]
Description=Hot_Stocks_Web App
After=network.target

[Service]
Type=simple
User=b2522
WorkingDirectory=/vol1/1000/web_apps/hot_tdx-main
Environment="PATH=/vol1/1000/web_apps/hot_tdx-main/venv/bin"
ExecStart=/vol1/1000/web_apps/hot_tdx-main/venv/bin/python app.py
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
